{% extends "base" %}

{% block content %}
    <h1>Site internet de gestion d'une base de données de Personnes</h1>
    <p>Ecrit par Léon GENGOUX
    Avec Rocket et Postgresql</p>

{% endblock %}