<!DOCTYPE html>
<html lang="fr">
{% block head %}
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
{% endblock head %}

<body>
    {% block header %}
    <!-- Header -->
    <div class="header">
        <h1>{{title}}</h1>
    </div>
    {% endblock header %}

    {% block navbar %}
    <!-- Navigation Bar -->
    <div class="navbar">
        <a href="/">Start</a>
        <a href="/persons">List Persons</a>
        <a href="/genres">List Genres</a>
        <a href="/partitions">List Partitions</a>
        <a href="/logout">Deconnection</a>
        <a href="/about">A propos</a>
    </div>
    {% endblock navbar %}

    <div class="content">
        {% block content %}  {% endblock content %}
    </div>

    {% block footer %}
    <!-- Footer -->
    <div class="footer">
        &copy; Copyright 2020 by <a href="http://domain.invalid/">Léon GENGOUX</a>
    </div>
    {% endblock footer %}
</body>

</html>
