{% extends "base" %}

{% block content %}
<form action="/persons/{{name}}" method="POST">
    <div>
        <label for="name">Username:</label>
        <input type="text" name="name" placeholder="Entrer le nom de la personne ...">
    </div>
    <input type="submit" value="Chercher">
</form>
{% endblock %}